.edit-movie-container{
    background-color: #1e272e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 20px auto;
    gap: 20px;
    align-items: center;
}

.edit-movie-container h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.edit-movie-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    grid-column: 1;
}

.image{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: auto;
}
.image img{
    width: 100%;
    height: auto;
    display: block;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    width: 100%;
    margin-top: 20px;
}
.button-container button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.save-button{
    background-color: green;
    color: white;
    font-weight: bold;
}
.save-button:hover{
    background-color: #44bd32;
}
.cancel-button {
    background-color: brown;
    color: white;
    font-weight: bold;
}
.cancel-button:hover{
    background-color:#c23616 ;
}
.add-episode-button{
    background-color: #323232;
    color: white;
    font-weight: bold;
}
.add-episode-button:hover{
    background-color: #3d444a;
}

.form-movie{
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.form-movie label{
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;;
}

.form-movie input[type='text'],
.form-movie input[type='number']{
    padding: 10px;
    border: 1px solid #3d444a;
    border-radius: 10px;
    background-color: #2c3338;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
}
.form-movie select{
    padding: 10px;
    border: 1px solid #3d444a;
    border-radius: 10px;
    background-color: #2c3338;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
}
.form-movie input[type='text']:hover,
.form-movie input[type='number']:hover{
    border-color: #e84118;
    outline: none;
    box-shadow: 0 0 5px rgba(232, 65, 24, 0.5);
}
