nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 15px 200px;
}
.logo img {
    width: 120px;
    cursor: pointer;
  }

.header ul, .search ul, .user-infor ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.header li{
    color: white;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.header li:hover{
    color: aquamarine;
}

.search li{
    align-items: center;
    list-style: none;
}
.search input{
    border-radius: 20px;
    padding: 8px;
    width: 200px;
}
.user-infor li{
    color: white;
    list-style: none;
    font-weight: bold;

}
.user-infor li:hover{
    color: aquamarine;
}
.button-logout {
  background-color: brown;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-logout:hover {
  background-color: #d9363e;
}
