.list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:25px;
    padding: 10px;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}
.list-tag li{
    list-style: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: brown;
    text-align: left; /* Căn chữ bên trong sang trái */
    width: fit-content; /* Thanh tag chỉ rộng vừa đủ nội dung */
    display: block;
}

.anime-item-list{
    background-color: #333; /* Màu nền cho mỗi item phim */
    border-radius: 8px; /* Bo tròn góc */
    overflow: hidden; /* Đảm bảo ảnh không tràn ra ngoài */
    display: flex; /* Sử dụng Flexbox cho nội dung bên trong li */
    flex-direction: column; /* Sắp xếp nội dung theo cột */
    text-align: center; /* Căn giữa chữ (tên phim) */
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động khi hover */
    cursor: pointer; /* Đổi con trỏ chuột thành pointer */
}
.anime-image-list :hover{
    transform: scale(1.05);
}

.anime-image-list{
    height: 250px;

}
.anime-image-list img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.anime-info-list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: white;
    max-height: 24px;
}

.more{
    justify-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.more ul{
    list-style: none;
    display: flex;

}
.more a{
    border: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}
.page-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none; /* Thường để border:none cho đẹp */
    margin: 5px;   /* Thêm margin nhỏ cho nút cách nhau */
}

.page-button.active {
    background-color: brown;
}
